.button {
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    background-color: aliceblue;
    font-size: 14px;
    margin: 15px 0;
    cursor: pointer;
}

.button.active {
    background-color: aquamarine;
}